body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  background-image: linear-gradient(to right, rgb(240, 178, 178) , rgb(100, 158, 206));
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reset-button {
  display: none;
}